body {
  font-family: "Sarabun", sans-serif;
}

.input-container {
  width: 400px;
  margin: 20px auto;
  border: 1px solid #ccc;
  padding: 20px;
}

.input-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-container select,
.input-container input {
  width: calc(100% - 12px);
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.input-container button {
  padding: 10px 20px;
  background: #f1f1f1;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: none;
  padding: 5px;
  text-align: left;
}

.company-name-a-main {
  font-size: 24px;
  font-weight: bold;
}

.general-company-name-a {
  font-size: 12px;
  color: #888;
}

.product-code-row-a td {
  font-size: 16px;
  border-top: 1px solid black;
  text-align: left;
  padding-left: 5px;
}

.mfg-lot-cell-a,
.unit-cell-a {
  font-size: 14px;
  line-height: 1.2;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  text-align: left;
}

.mfg-lot-cell-a {
  border-top: 1px solid black;
}

.unit-cell-a {
  border-bottom: 1px solid black;
}

@media print {
  body > *:not(#print-container) {
    visibility: hidden;
  }
  #print-container,
  #print-container * {
    visibility: visible;
  }
  #print-container {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #print-container table {
    border-collapse: collapse;
    width: 90%;
    font-size: 12pt;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20mm;
    page-break-inside: avoid;
    display: block;
    page-break-before: always;
  }
  #print-container table:first-of-type {
    page-break-before: avoid;
  }
  #print-container th,
  #print-container td {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
    vertical-align: top;
    box-sizing: border-box;
  }
  #print-container tbody tr:first-child td {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
    padding-bottom: 5px;
  }
  #print-container tbody tr:nth-child(2) td {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    padding-bottom: 5px;
  }
  #print-container tbody tr:nth-child(5) td,
  #print-container tbody tr:nth-child(6) td {
    display: block;
    width: 100%;
  }
  #print-container tbody tr:nth-child(6) td {
    padding-left: 10px;
  }
  #print-container svg {
    width: 100%;
    height: auto;
    display: block;
  }
  #print-container tbody tr:nth-child(5) td {
    width: 100%;
    padding: 0 !important;
  }
}
